{{!-- homepage --}}
  <!--Showcase section-->
  <section class="showcase">
      <div class="video-container">
          <video src="/assets/images/dcnightshort.mov" autoplay muted loop></video>
      </div>
      <div class="header">
          <img src="/assets/images/DCDines-removebg.png" alt="logo"/>
          <h1>
              <a href="#about" class="btn">Login</a>
              <a href="#about" class="btn">Sign Up</a>
          </h1>
      </div>
  </section>

  <section id="about">
      <h1></h1>
      <p></p>
  </section>

  <!--Boxes with website purpose-->
  <section class="boxes has-text-weight-bold">
      <div class="container">
      
      {{#each purpose}}
      <div class="box">
          <h2>{{this.h2}}</h2>
          <p>
            {{this.p}}
          </p>
      </div>
      {{/each}}
              
      </div>
  </section>
  
  <!--Contact us form used from project1-->
  <section class="contact-us">
      <div class="container py-5 my-5">
        <h2 class="title is-2 is-capitalized">Contact DC Dines Underground</h2>
          <div class="columns is-justify-content-center">
            <div class="column is-5-tablet is-5-desktop is-5-widescreen is-5-fullh">
              <form method="post"
              action="https://public.herotofu.com/v1/5aa8ac20-fc8b-11ec-afe3-392e2c671a11" class="box p-5">
              
                <label class="is-block mb-4">
                  <span class="is-block mb-2">Your Name</span>
                  <input
                    name="name"
                    type="text"
                    class="input"
                    placeholder="Name"
                  />
                </label>
    
                <label class="is-block mb-4">
                  <span class="is block mb-2">Email Address</span>
                  <input
                    name="email"
                    type="email"
                    class="input"
                    placeholder="Email"
                  />
                </label>
    
                <label class="is-block mb-4">
                  <span class="is-block mb-2">Message</span>
                  <textarea
                    name="message"
                    class="textarea"
                    rows="4"
                    placeholder="Your question for DC Dines Underground.."
                  ></textarea>
                </label>
    
                <div class="mb-4">
                  <button type="submit" class="button is-link px-4">Submit</button>
                </div>
            
            </form>
            </div>
          </div>
        </div>  
  </section>

  <!--Project Team Bio-->
  <section>
    <div class="columns is-multiline is-justify-content-center">

      {{#each bio}}
      <div class="column is-5">
        <div class="box p-5">
          <div class="columns">
            <div class="column is-4 mb-4 mb-0-desktop">
              <img class="image is-fullwidth is-cover is-rounded" style="height: 200px;" src="{{this.icon}}" alt="">
            </div>
            <div class="column is-8">
              <h3 class="is-size-4 has-text-weight-semibold">{{this.name}}</h3>
              <p class="mb-6 has-text-white">{{this.fORb}}</p>
              <p class="has-text-white">GitHub</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    
  </div>
  </section>

  <!--Footer-->
  <footer class="container">
      <h2 class="text-movie has-text-centered">DC Dines Underground</h2>
      <div class="text-movie has-text-centered has-text-weight-bold">
          &copy; 2022 Group 3
      </div>
  </footer>

